/**
BOILERPLATE & RESETS
**/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

h1,
h2,
h3 {
    font-weight: 500;
}

/* FONT STUFF */

* {
    font-family: 'Roboto', sans-serif;
}

/* BODY */

body {
    background-color: rgb(76, 77, 77);
    color: white;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "h h n"
        "i i n"
        "i i f";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

header {
    grid-area: h;
    background-color: #018989;
    padding-left: 25px;
}

header h1 {
    color: #f3da4c;
    font-size: 5rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding-top: 25px;
}

header h2 {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

#smiley {
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    grid-area: n;
    background-color: rgb(243, 218, 76);
    color: #E73636;
    font-style: italic;
    text-align: right;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

nav h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    height: 10%;
}

nav ul {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
}

nav li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
}

#info {
    grid-area: i;
    background-color: #ffffff;
    color: #949494;
    padding: 25px;
}

#info h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #E73636;
    font-size: 3rem;
}

#info > * {
    padding-top: 25px;
}

footer {
    grid-area: f;
    background-color: #01b9b9;
    color: #3C3C3C;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 1rem;
    padding: 15px;
}