/**
BOILERPLATE & RESETS
**/

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

/* FONT STUFF */

* {
    font-family: Roboto, sans-serif;
}

/* BODY */

body {
    background-color: rgb(1, 185, 185);
    color: white;
}

h1 {
    color: rgb(243, 218, 76);
}